html {
  scroll-behavior: smooth;
}

#recipes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-template-rows: auto;
  column-gap: 20px;
}

#title{
  font-family: 'europa', sans-serif;
  font-weight: 400;
}

img{
  border-radius: 8px;
  width: 15rem;
}
